 <% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
        <% errors.array().forEach(error => { %>
            <li><%= error.msg %></li>
            <% }) %>
        </ul>
    <% } %>

    <p>Confirm Deletion - The delete is permanent.</p>

<form method="POST" action="/inv/delete-classification/" id="deleteClassificationForm">
    <label for="classification_name">Classification Name: </label>
    <input type = "text" id="classification_name" name = "classification_name" required readonly value="<%= locals.classification_name %>">
    <button type="submit">Delete Classification</button>
    <input type="hidden" name = "classification_id" <% if(locals.classification_id) { %> value="<%= locals.classification_id %>" <% } %>>
</form>

