 <% if (title) { %>
<h1><%= title %></h1>
<% } else { res.redirect('/') } %>

<%- messages() %>

<%- management %>

<h2>Manage Classifications</h2>
<%- classificationManagementList %>

<h2>Manage Inventory</h2>
<p>Select a classification to see the vehicles in that category:</p>

<%- classificationSelect %>

<table id="inventoryDisplay"></table>
<noscript>Javascript must be enabled to use this page</noscript>
<script src="../../js/inventory.js"></script>